In [16]:
import pandas as pd
from mendeleev import get_engine

* elements
* ionicradii
* ionizationenergies
* oxidationstates
* groups
* series
* isotopes

## Retrieve all the data on the elements and put it pandas DataFrame

In [3]:
engine = get_engine()

In [12]:
ptable = pd.read_sql('elements', engine)

In [15]:
ptable.columns

Index([              u'annotation',            u'atomic_number',
                  u'atomic_radius',            u'atomic_volume',
                          u'block',            u'boiling_point',
                u'covalent_radius',                  u'density',
                    u'description',    u'dipole_polarizability',
              u'electron_affinity',        u'electronegativity',
       u'electronic_configuration',         u'evaporation_heat',
                    u'fusion_heat',                 u'group_id',
               u'lattice_constant',        u'lattice_structure',
                           u'mass',            u'melting_point',
                           u'name',                   u'period',
                      u'series_id',            u'specific_heat',
                         u'symbol',     u'thermal_conductivity',
                     u'vdw_radius'],
      dtype='object')

In [20]:
isotopes = pd.read_sql('isotopes', engine, index_col='id')

In [21]:
isotopes

     atomic_number        mass  abundance  mass_number
id
1                1    1.007825   0.999885            1
2                1    2.014102   0.000115            2
3                2    3.016029   0.000001            3
4                2    4.002603   0.999999            4
5                3    6.015122   0.075900            6
6                3    7.016004   0.924100            7
7                4    9.012182   1.000000            9
8                5   10.012937   0.199000           10
9                5   11.009305   0.801000           11
10               6   12.000000   0.989300           12
11               6   13.003355   0.010700           13
12               7   14.003074   0.996320           14
13               7   15.000109   0.003680           15
14               8   15.994915   0.997570           16
15               8   16.999132   0.000380           17
16               8   17.999160   0.002050           18
17               9   18.998403   1.000000           19
18              10   19.992440   0.904800           20
19              10   20.993847   0.002700           21
20              10   21.991386   0.092500           22
21              11   22.989770   1.000000           23
22              12   23.985042   0.789900           24
23              12   24.985837   0.100000           25
24              12   25.982593   0.110100           26
25              13   26.981538   1.000000           27
26              14   27.976927   0.922297           28
27              14   28.976495   0.046832           29
28              14   29.973770   0.030871           30
29              15   30.973762   1.000000           31
30              16   31.972071   0.949300           32
..             ...         ...        ...          ...
284             82  206.975881   0.221000          207
285             83  208.980383   1.000000          209
286             84  208.982416   1.000000          209
287             85  209.987131   1.000000          210
288             86  222.017571   1.000000          222
289             87  223.019731   1.000000          223
290             88  226.025403   1.000000          226
291             89  227.027747   1.000000          227
292             90  232.038050   1.000000          232
293             91  231.035879   1.000000          231
294             92  234.040946   0.000055          234
295             92  235.043923   0.007200          235
296             92  238.050783   0.992745          238
297             93  237.048167   1.000000          237
298             94  244.064198   1.000000          244
299             95  243.061373   1.000000          243
300             96  247.070347   1.000000          247
301             97  247.070299   1.000000          247
302             98  251.079580   1.000000          251
303             99  252.082970   1.000000          252
304            100  257.095099   1.000000          257
305            101  258.098425   1.000000          258
306            102  259.101020   1.000000          259
307            103  262.109690   1.000000          262
308            104  261.108750   1.000000          261
309            105  262.114150   1.000000          262
310            106  266.121930   1.000000          266
311            107  264.124730   1.000000          264
312            108  269.134110   1.000000          269
313            109  268.138820   1.000000          268

[313 rows x 4 columns]

### Merge the elements table with the ionic radii table

In [9]:
table = pd.merge(ptable, ionicrad, how='outer', on='atomic_number')

Print all the ionic radii for silver

In [13]:
table[table['symbol'] == 'Ag'][cols]#[['symbol', 'charge', 'coordination', 'crystal_radius', 'ionic_radius']]

,id,atomic_number,charge,econf,coordination,spin,crystal_radius,ionic_radius,origin,most_reliable
228,2,47,1,4d10,II,,0.81,0.67,,False
229,3,47,1,4d10,IV,,1.14,1.00,"calculated,",False
230,4,47,1,4d10,IVSQ,,1.16,1.02,,False
231,5,47,1,4d10,V,,1.23,1.09,"calculated,",False
232,6,47,1,4d10,VI,,1.29,1.15,"calculated,",False
233,7,47,1,4d10,VII,,1.36,1.22,,False
234,8,47,1,4d10,VIII,,1.42,1.28,,False
235,9,47,2,4d9,IVSQ,,0.93,0.79,,False
236,10,47,2,4d9,VI,,1.08,0.94,,False
237,11,47,3,4d8,IVSQ,,0.81,0.67,,False
238,12,47,3,4d8,VI,,0.89,0.75,"from r^3 vs V plots,",False

In [ ]:
ionicrad = pd.read_sql('ionicradii', engine)
cols = ionicrad.columns